

body {
    background-color: black;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text, .navbar-custom .navbar-nav .nav-link {
    color: rgb(77, 77, 77);
    background-color: black;
}

.nav-item {
    margin-left: 100px;
}

.display-1 {
    margin-left: 300px
}

img.lights {
    border-radius: 0px 50px 50px 0px;
    margin-top: 15px;
    width:600px;
    height:400px;
}

.lorem {
    float: right;
    clear: both;
    display: block;
    color: rgb(90, 90, 90);
    width: 50%;
    margin-top: 25px;
    margin-right: 20px;
}

.display-4 {
    text-align: right;
    margin-right: 500px;
    display: block;
    color: rgb(107, 107, 107);
}

.long-lights {
    float: right;
    margin-top: 15px;
    display: block;
    width:600px;
    height:400px;
}

div.long-lights {
    text-align: right;
    width: 600px;
}


.video {
    display: block;
    margin: auto;
}